body{
      background:#f1f2f2;
      font-family:Arial,Helvetica,sans-serif;
}
#menu{
      list-style:none;
      background:#ffffff;
      width:98.5%;
      padding:0px 0px 0px 20px;
      height:6%;
      font-size:20px;
      margin:0px auto 0px auto; 
      
      border: 1px solid #002232;
 
      -moz-box-shadow:inset 0px 0px 1px #edf9ff;
      -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
      box-shadow:inset 0px 0px 1px #edf9ff; 


}

#menu li{
         float:right;
         display:block;
         position:relative;
         text-align:center;
         padding:4px 70px 4px 70px;
         margin-left:0px;
         margin-top:2px;
         border-right:1px solid BLACK;

}

#menu li a{
           font-family:Oxygen,Arial, Helvetica, sans-serif;
           color:#204156;
           outline:0px;
           display:block;
           text-decoration:none;
           text-shadow: 0.5px 0.5px 0.5px #82b2d1;
}

#menu li:hover a{
                 color:#ffffff;
                 text-shadow:0.2px 0.2px 0.2px white;
}

#menu li:hover{
                     border-top:1px solid black;
                     border-left:1px solid black;
                     border-right:1px solid black;
                     padding:4px 69px 4px 69px;
                     background:#a4f5e5;
                     
}

#menu li .drop {
    padding-right:21px;
    background-image:url("http://s1.postimg.org/cd6ibd7kb/icon1.png");
}
#menu li:hover .drop {
    background:url("http://s1.postimg.org/cd6ibd7kb/icon1.png") no-repeat right 7px;
}
.rsidebar{
       background:#f65a5b;
       height:95%;
       width:4%;
       float:right;
       position:relative;
       z-index:2;
}


.lsidebar{
       background:#f65a5b;
       height:93%;
       width:4%;
       float:left;
       position:absolute;
       z-index:2;
}

.lsidebar p{
        color:#ffffff;
        text-align:center;
        font-family:"Arial Black", Gadget, sans-serif;
        font-size:45px;
        margin-top:250%;
        padding:8px 8px 8px 8px;
        visibility:visible;
        z-index:0;
}

.rsidebar p{
        color:#ffffff;
        text-align:center;
        font-family:"Arial Black", Gadget, sans-serif;
        font-size:45px;
        margin-top:250%;
        padding:8px 8px 8px 8px;
        visibility:visible;
        z-index:0;
}

.lsidebar:hover p{
                  font-size:0px;
                  margin-top:0%;
                  padding:0px 0px 0px 0px;}

.rsidebar:hover p{
                  font-size:0px;
                  margin-top:0%;
                  padding:0px 0px 0px 0px;}

.lsidebar:hover{transition:0.3s;
                height:93%;
                width:15%}

.rsidebar:hover{transition:0.3s;
                height:95%;
                width:21%}

.slider{
        background:#ffffff;
        height:43%;
        width:98.5%;
        float:right;
        position:absolute;
        z-index:0;
}
.drop_2,
.drop_1{
       background:#49eaca;
       margin:4px auto;
       position:absolute;
       left:-999em;
       text-align:left;
       padding:10px 5px 10px 5px;
       opacity:0.5;
       z-index:2; 
} 

.drop_1{
         width:96.5%;  
         height:80px;
}
.drop_2{
        width:95.5%;
        height:80px; 
}

#menu li:hover .drop_1
{left:-1px;
top:27px;
}
#menu li:hover .drop_2{
left:-1px;
top:27px;
}



#seo{
      list-style:none;
      background:#f1f2f2;
      width:96%;
      padding:0px 0px 0px 0px;
      height:6%;
      font-size:20px;
      margin:0px auto 0px auto;
       -moz-box-shadow:inset 0px 0px 1px #edf9ff;
      -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
      box-shadow:inset 0px 0px 1px #edf9ff; 
      position:absolute;      
      z-index:1;
}


#seo li{ width:49.8%;
         height:40px;
         float:right;
         display:block;
         position:relative;
         text-align:left;
         border-right:1px solid BLACK;
         border-bottom:1px solid BLACK;
         background:#f1f2f2;
}


#seo li a{
         text-decoration:none;
         color:#bdbdbd;
 }

form{padding:4px;
     float:right;
     width:500px;
}
